
.DS_Store

*.aux
*.bbl
*.blg
*.ecm
*.fdb_latexmk
*.fls
*.log
*.maf
*.mtc
*.mtc*
*.nav
*.ptc*
*.out
*.snm
*.synctex.gz
*.swp
*.thm
*.toc
*-checkpoint.ipynb
.RData
.Rhistory
.Rapp.history
*.gz
*.blg
*.aux
*.log
